@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.background-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.background-video video {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    width: 375px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.308);
    align-items: center;
    align-self: center;
    box-sizing: border-box;
}

h1 {
    color: rgb(56, 255, 122);
    text-shadow: 
    1px 2px 3px black,
    1px 1px 1em rgb(209, 196, 228),
    0 0 1.2em rgba(230, 230, 222, 0.522);
    text-align: center;
}

h2 {
    color: rgb(56, 255, 122);
    text-shadow: 
    1px 2px 3px black,
    0px 0px 1em rgb(0, 0, 0),
    0 0 .5em rgb(0, 0, 0);
}

nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    width: 300px;
    margin: 20px;
    padding: 0px;
    justify-content: center;
    gap: 30px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.329);
    box-shadow: 0em 0em 1em white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    transition: 1s;
}

nav a:hover {
    color: rgb(56, 255, 122);
    border: 1px solid rgb(56, 255, 122);
    border-radius: 10px;
    box-shadow: 0em 0em 1em rgb(56, 255, 122)
}

main {
    display: flex;
    flex-direction: column;
    width: 375px;
}

header {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

header img:first-of-type {
    z-index: 1;
    position: relative;
    align-self: center;
    animation-name: aviao-aparecer;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes aviao-aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main-article {
    display: block;
    background-color: rgba(255, 255, 255, 0.87);
    width: 300px;
    height: fit-content;
    border: 0px solid black;
    margin: 20px 15px;
    align-self: center;
    border-radius: 15%;

}

.main-article p {
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;

}

section {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    height: fit-content;
    text-align: center;
}

.paises {
    display: flex;
    flex-direction: column;
}

section div {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 110px;
    margin: 0.2rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 5px solid black;
    transition: 0.5s;
}

section div:hover {
    transition: 0.5s;
    border: 5px solid rgb(56, 255, 122)
}

section a{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 30px;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    border: 2px solid rgba(56, 255, 122, 0);
    align-self: center;
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}

section div a:hover {
    transition: 0.5s;
    border-radius: 10%;
    background-color: rgba(122, 122, 122, 0.938);
    border: 2px solid rgb(56, 255, 122);
}

section:nth-of-type(1) a{
    color: black;
    text-shadow: 
    0 0 1em rgb(255, 255, 255),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(2) a {
    color: black;
    text-shadow: 
    0 0 1em rgb(226, 255, 245),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(3) a {
    color: black;
    text-shadow: 
    0 0 1em rgb(226, 255, 245),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(4) a {
    color: black;
    text-shadow: 
    0 0 1em rgb(226, 255, 245),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:first-of-type div {
    background-image: url(../img/bandeiras/bandeira-franca.jpg);
}

section:nth-of-type(2) div {
    background-image: url(../img/bandeiras/bandeira-brasil.jpg);
}

section:nth-of-type(3) div {
    background-image: url(../img/bandeiras/bandeira-canada.jpg);
}

section:nth-of-type(4) div {
    background-image: url(../img/bandeiras/bandeira-italia.jpg);
}

.formulario {
    display: none;
}

.formulario-h2 {
    display: none;
}

footer {
    display: flex;
    align-items: center;
    margin: 1rem;
    color: white;
    align-self: center;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 10rem;
    }

    h2 {
        font-size: 2rem;
    }

    .container {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        box-sizing: border-box;
    }

    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;
        padding: 0px 50px;
        align-items: center;
        align-self: center;
        justify-content: space-between;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px;
        height: 200px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px;
        height: 150px;
        padding: 0px;
        margin: 0;
        box-sizing: border-box;
    }

    nav li {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-article {
        width: fit-content;
        border-radius: 30px;
        background-color: aquamarine;
        text-align: center;
    }

    .sessoes {  
        display: flex;
        }

    section {
        width: 100%;
        height: fit-content;
    }

    section div {
        width: 50%;
        height: 90px;
        opacity: 0.3;
    }

    section div:hover {
        opacity: 1;
    }

    section div a {
        font-size: 1.0rem;
        height: fit-content;
        width: fit-content;
        opacity: 1;
    }

    section div a:hover {
        font-size: 1.5rem;
        height: fit-content;
        width: fit-content;
        padding: 0.2rem;
        color: rgb(56, 255, 122);
        background-color: rgb(0, 0, 0);
        text-shadow: none;
    }

    .formulario {
        display: block;
        align-self: center;
        width: 30%;
        height: fit-content;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2rem;
        color: white;
    }

    .formulario fieldset {

    }

    .formulario form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    }    

    .formulario label {
    margin: 15px 0;
    box-sizing: border-box;
    text-align: start;
    }

    .formulario label:hover {
        color: rgb(56, 255, 122);
        }

    .formulario input {
        width: 100%;
        height: 40px;
        margin: 10px 0px;
        padding-left: 10px;
        outline: none;
        border: 3px solid rgb(56, 255, 122);
        border-radius: 20px;
        box-sizing: border-box;
    }

    .formulario input:focus {
        background-color: rgb(56, 255, 122);
    }


    .formulario select {
        width: 100%;
        height: 40px;
        margin: 10px 0px;
        padding-left: 10px;
        border: 3px solid rgb(56, 255, 122);;
        border-radius: 20px;
    }

    .formulario-h2 {
        align-self: center;
    }

    .formulario input[type=submit], input[type=reset] {
        cursor: pointer;
    }

    .formulario input[type=submit]:hover, input[type=reset]:hover {
        background-color: rgb(56, 255, 122);
    }

    .formulario textarea {
        width: 100%;
        margin: 10px 0px;
        resize: none;
    }

    footer {
        height: 100px;
    }
}