@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(0, 0, 0);
}

.container {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(0, 0, 255);
    text-shadow: 
    1px 2px 3px black,
    1px 1px 1em rgb(209, 196, 228),
    0 0 1.2em rgba(230, 230, 222, 0.522);
    text-align: center;
}

h2 {
    text-align: center;
    color: blue;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    
}

nav ul {
    display: flex;
    width: 300px;
    margin: 20px;
    padding: 0px;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 0.5rem;
    color: yellow;
}

nav a:hover {
    text-shadow: 
    0em 0em 1.2em white,
    0 0 0.5em white;
}

main {
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.main-header img:first-of-type {
    margin: auto;
    padding: 15px;
}

.main-article {
    display: block;
    background-color: rgba(185, 185, 185, 0.63);
    width: 300px;
    height: fit-content;
    border: 0px solid black;
    margin: 20px 15px;
    align-self: center;
    border-radius: 15%;

}

.main-article p:first-of-type {
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;

}

section {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0px 20px;
    height: fit-content;
    text-align: center;
}

section:first-of-type div {
    display: flex;
    flex-direction: column;
    background-image: url(../img/bandeira-franca.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

section div a{
    width: 80px;
    height: 20px;
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    margin-bottom: 20px;
    align-self: center;
}

section div a:hover {
    background-color: rgba(158, 158, 158, 0.374);
    border-radius: 10%;
}
