@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.container {
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    align-self: center;
}

h1 {
    color: rgb(56, 255, 122);
    text-shadow: 
    1px 2px 3px black,
    1px 1px 1em rgb(209, 196, 228),
    0 0 1.2em rgba(230, 230, 222, 0.522);
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    
}

nav ul {
    display: flex;
    width: 300px;
    margin: 20px;
    padding: 0px;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 0.5rem;
    color: yellow;
}

nav a:hover {
    text-shadow: 
    0em 0em 1.2em white,
    0 0 0.5em white;
}

main {
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.main-header img:first-of-type {
    margin: auto;
    padding: 15px;
}

.main-article {
    display: block;
    background-color: rgba(185, 185, 185, 0.63);
    width: 300px;
    height: fit-content;
    border: 0px solid black;
    margin: 20px 15px;
    align-self: center;
    border-radius: 15%;

}

.main-article p {
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;

}

section {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0px 20px;
    height: 200px;
    text-align: center;
}

section div {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 110px;
    align-self: center;
}

section a{
    width: 80px;
    height: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    margin-top: 40px;
    align-self: center;
}

section div a:hover {
    background-color: rgba(122, 122, 122, 0.938);
    border-radius: 10%;
}

section:nth-of-type(1) h2{
    color: black;
    text-shadow: 
    0 0 1em rgb(255, 255, 255),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(1) a{
    color: black;
    text-shadow: 
    0 0 1em rgb(255, 255, 255),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(2) h2{
    color: black;
    text-shadow: 
    0 0 1em rgb(255, 255, 255),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(2) a {
    color: black;
    text-shadow: 
    0 0 1em rgb(226, 255, 245),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(3) h2 {
    color: black;
    text-shadow: 
    0 0 1em rgb(226, 255, 245),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(3) a {
    color: black;
    text-shadow: 
    0 0 1em rgb(226, 255, 245),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(4) h2 {
    color: black;
    text-shadow: 
    0 0 1em rgb(226, 255, 245),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:nth-of-type(4) a {
    color: black;
    text-shadow: 
    0 0 1em rgb(226, 255, 245),
    0 0 1.2em rgb(255, 255, 255),
    0 0 1.1em rgb(255, 255, 255);
}

section:first-of-type div {
    background-image: url(../img/bandeira-franca.jpg);
}

section:nth-of-type(2) div {
    background-image: url(../img/bandeira-brasil.jpg);
}

section:nth-of-type(3) div {
    background-image: url(../img/bandeira-canada.jpg);
}

section:nth-of-type(4) div {
    background-image: url(../img/bandeira-italia.jpg);
}

footer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: white;
    align-self: center;
}
