@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-image: 
    linear-gradient(45deg, #7200dd 35%, #0015d6a2 65%);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

nav {
    margin: 30px 0px ;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 10px 60px;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(29, 18, 18);
}

main {
    display: flex;
    flex-direction: column;

}

.main-header {
    padding: 20px 10px;
}

.main-header img:first-of-type {
    margin: auto;
    padding: 15px;
}

.main-article {
    display: block;
    background-color: rgba(185, 185, 185, 0.63);
    width: 300px;
    height: fit-content;
    border: 0px solid black;
    margin: 20px 15px;
    align-self: center;
    border-radius: 15%;

}

.main-article p:first-of-type {
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;

}

.container {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    height: fit-content;
    text-align: center;
}

section p {
    align-items: center;
}

main section:first-of-type {
    /*background-image: url(../img/france.jpg);*/
    width: 300;
    height: 400;
}